.THIS {
    background-color: azure;
    border: 4px solid #E2AD86;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
}
.THIS .forum-body {
    background-color: white;;
}
.THIS .forum-body {
    position: relative;
}
.THIS .forum-display {
    position: relative;
    max-height: 32rem;
    min-height: 25rem;
    overflow: auto;
    background-color: white;;
    border: 2px solid black;
    padding: 0.5rem 1.8rem;
}
.THIS .forum-interact {
    padding-top: 0.5rem;
    background-color: azure;
}
.THIS .forum-item {
    margin: 0.25rem 0;
    box-shadow: 0 2px 10px black;
}
.THIS .forum-interact textarea {
    width: 100%;
    padding: 0.5rem;
}
.THIS .forum-interact input {
    width: 100%;
    padding: 0.5rem;
}
/* .THIS .search-bar {
    display: flex;
    flex-flow: row nowrap;
} */
.THIS .search-bar input {
    width: 25rem;
}
.THIS.title-section {
    background-color: white;
    text-align: center;
    font-size: 36px;
}
.THIS button {
    border: none;
    background-color: #E5E5E5;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 3px 10px;
    margin-left: 5px;
}
/* .THIS .top-posts {
    margin: 0.25rem 0;
    box-shadow: 0 -2px 10px black;
} */
.THIS .post {
    border: 4px solid #E2AD86;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    display: block;
    margin: 0 auto;
    width: 8rem;
    border-radius: 1rem;
}
.THIS .post:focus {
    box-shadow: inset 0 -2px 10px #E2AD86;
    background-color: #dadada;
}
.THIS .post:hover {
    box-shadow: inset 0 -2px 10px #E2AD86;
    background-color: #dadada;
}

/* .THIS .selected {
    box-shadow: inset 0 -2px 10px #E2AD86;
} */

