.THIS {
    background-color: white;
    border: 4px solid #E2AD86;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
}
.THIS .forum-display {
    background-color: white;;
    border: 2px solid black;
    margin:  0 0 0.5rem;
}
.THIS .forum-interact textarea {
    width: 100%;
}
.THIS .search-bar {
    display: flex;
    flex-flow: row nowrap;
}
.THIS .search-bar input {
    width: 25rem;
}

.THIS .title-section {
    text-align: center;
    font-size: 36px;
}

.THIS button {
    border: none;
    background-color: #E5E5E5;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 3px 10px;
    margin-left: 5px;
}

.THIS .selected {
    background-color: yellow;
}

