
button {
    border: none;
    background-color: #E5E5E5;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 3px 10px;
}

.expand-btn {
    margin-left: 0px;
    margin-right: 15px;
    background-color:white;
    border: 1px solid black;
}


.forum-item{
    border:1px solid black;
    min-height: 5rem;
    overflow: hidden;
    padding: 1rem;
    padding-top: 5px;
}

.forum-title {
    font-size: 22px;
}

.selected {
    border: 5px solid green;
}

.cropped{
    max-height: 5rem;
    /* background:linear-gradient(to bottom,transparent, white); */
}

.fade {
    position: absolute;
    z-index: 1;
    top: 2.5rem;
    height:2.5rem;
    width: 100%;
    background: linear-gradient(transparent, white 100%);
}

.column-one{
    width: 75%;
    float: left;
}

.column-two {
    float: right;
    text-align: right;
    margin-right: 2%;
    width: 22%;
    padding-top: .4rem;
 }

/* .inner-column {
     width: 50%;
     float: right;
 }  */

 .likeIcon {
    height: 20px;
    margin: 5px;
 }

 .commentIcon {
    height: 20px;
    margin: 5px;
 }

 .comment-section {
     margin-left: 50px;
 }

 /* .poster-info {
    font-size: 0.5rem;
    background-color: grey;
    color: rgb(53, 124, 255);
    display: block;
    margin:0;
} */

.poster-info p {
    font-size: 0.5rem;
    color: black;
    margin:0;
}



