p {
    color:tomato;
}

button {
    border: none;
    background-color: #E5E5E5;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 3px 10px;
}

.expand-btn {
    margin-left: 10px;
    margin-top: 30px;
}


.forum-item{
    border:1px solid black;
    min-height: 5rem;
    overflow: hidden;
    padding: 1rem;
}

.forum-title {
    font-size: 22px;
}

.selected {
    border: 5px solid green;
}

.cropped{
    max-height: 5rem;
    /* background:linear-gradient(to bottom,transparent, white); */
}

.fade {
    position: absolute;
    z-index: 1;
    top: 2.5rem;
    height:2.5rem;
    width: 100%;
    background: linear-gradient(transparent, white 100%);
}

.column-one{
    width: 75%;
    float: left;
}

.column-two {
    float: right;
    margin-right: 2%;
    width: 22%;
 }

 .inner-column {
     width: 33%;
     float: right;
 }

 .likeIcon {
    height: 20px;
    margin: 5px;
 }

 .commentIcon {
    height: 20px;
    margin: 5px;
 }



 /* .column-two * {
     float: right;
 } */

